{% load query_transform %}

{% if is_paginated %}

  <div class="d-flex justify-content-beetwen align-items-center mt-3">

  <small class="text-muted">
    Showing {{ page_obj.end_index }} of {{ paginator.count }} {{ search_name }}{{ paginator.count|pluralize }}
</small>

<ul class="pagination mb-0 ms-auto">

    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="?{% query_transform request page=page_obj.previous_page_number %}">
                &laquo;
            </a>
        </li>
    {% endif %}

    <li class="page-item active">
        <span class="page-link">
            {{ page_obj.number }}
        </span>
    </li>

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?{% query_transform request page=page_obj.next_page_number %}">
                &raquo;
            </a>
        </li>
    {% endif %}

</ul>

  </div>

{% endif %}
